<!DOCTYPE html>
<html>
<head>
	<title>Dixie Veterinary Clinic</title>
	<link rel="stylesheet" href ="style.css">
</head>
<body>
	<div id = "app">
		<div id = "nav">
			<div class = "red"></div>
			<ul class="row">
				<li @click = "homeClick" v-bind:class="{active:(1===currentPage)}">HOME</li>
				<li @click = "aboutClick" v-bind:class="{active:(4===currentPage)}">ABOUT</li>
				<li @click = "servicesClick" v-bind:class="{active:(3===currentPage)}">SERVICES</li>
				<li @click = "contactClick" v-bind:class="{active:(2===currentPage)}">CONTACT</li>
			</ul>
		</div>
		<div id ="homePage" v-if="homeDiv">
			<div class="container" id = "homeLogo">
				<div id="contactInfo">
				</div>
				
				<div class="col" id="logo">
					<img src = "logowhite.png">
					<h2>--- Since 1989 ---</h2>
					<button @click = "contactClick" class="contact"><!--<img id="contact" src="littlephone.png">&nbsp&nbsp&nbsp-->CONTACT</button>
				</div>
			</div>
			<div id = "second">
				<div id = "secondContent">
					<p id="know">WE KNOW <b>ANIMALS</b></p>
					<p id="blah">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum</p>
					<button class="about" @click = "aboutClick">ABOUT</button>
				</div>
			</div>
			<div id = "third" class="row">
			<button class="fillButton" id = "pets" @click="famPetClick">FAMILY PETS</button>
			<button class="fillButton" id = "horses" @click="horseClick">EQUINE</button>
			<button class="fillButton" id = "cattle" @click="cattleClick">LIVESTOCK</button>
			</div>
			<div id ="comments"></div>
			<div id ="team">
				<div id="teamContent">
					<h1>MEET THE TEAM</h1>
					<div class="row" id="craigs">
						<figure>
							<img src="face.jpg">
							<figcaption> Craig Brinkerhoff</figcaption>
							<p>Owner</p>
						</figure>
						<figure>
							<img src="face.jpg">

							<figcaption> Craig Brinkerhoff</figcaption>
							<p>Owner</p>
						</figure>
						<figure>
							<img src="face.jpg">
							<figcaption> Craig Brinkerhoff</figcaption>
							<p>Owner</p>
						</figure>
						<figure>
							<img src="face.jpg">
							<figcaption> Craig Brinkerhoff</figcaption>
							<p>Owner</p>
						</figure>
						
					</div>
				</div>
				<div class="row" id="moreButtons">
					<button class="about" @click = "aboutClick">ABOUT</button>
					<button class="about" @click ="contactClick">CONTACT</button>
				</div>
				

			</div>
			
		</div>
		<div v-if="contactDiv" id = "contactPage">
			<div id="grey">
			<div class="wrapper">
			<h1>CONTACT US</h1>
			<br>
				<img src = "logowhite.png" class="right" id="contactLogo">
				<div class="left" id="content">
					
					<div class="row"><p>Call:</p> <p>(435)-628-6532</p></div>
					<div class="row"><p>Fax: </p> <p>(435-674-2545</p></div>
					
					
					<div class="row"><p>Email: </p> <p>dixieveterinary@gmail.com</p></div>
					<div class="row"><p>Location:</p> <div><p>1234 Dixie Drive</p><p> St. George Utah 84780</p></div></div>
					

				</div>
				<div class="clear"></div>
			</div>
			</div>
			

		</div>
		<div v-if="aboutDiv" id = "aboutPage">
			<div id="aboutContent">
				<h1>ABOUT</h1>
				<br>
				<br>
				<br>
				<br>
				<p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content inside of WordPress.</p>
				<br>
				<br>
				<br>
				<button class="about" @click = "contactClick">CONTACT</button>
			</div>
			
		</div>
		<div v-if="servicesDiv" id="servicesPage">
			<div id="servicesContent">
				<h1>SERVICES</h1>
				<div class="row" id="toggle">
					<span @click="famPetClick" v-bind:class="{activeSpan:1===currentDiv}">Family Pets</span>
					<span @click="horseClick" v-bind:class="{activeSpan:2===currentDiv}">Equine</span>
					<span @click="cattleClick" v-bind:class="{activeSpan:3===currentDiv}" >Livestock</span>
				</div>
				<div v-if="famPetDiv" id="famPetDiv">
				</div>
				<div v-if="horseDiv" id="horseDiv">
				</div>
				<div v-if="cattleDiv" id="cattleDiv">
				</div>
			</div>

		</div>
		<div class="red"></div>
		<footer>
			<img id="footerLogo" src="logowhite.png">
			<div class="row">
				<p>FOLLOW US ON</p><p>CONTACT US AT</p><p>WHERE WE ARE</p>
			</div>
			<div class="row">
				<p>IMG</p><p>435-628-6532</p><p>IMG</p>
			</div>
		</footer>
	</div>
	<script src = "vue.js"></script>
	<script src = "app.js"></script>

</body>
</html>