body{
	background-color:black;
	margin:0px;
	background-image:url("kitty.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
h1{
	margin:0px;
}
h2{
	font-size:2rem;
}
/*Organize Nav list*/
#navBar{
	width:50%;
	list-style-type: none;
	text-align:center;
	color:#555;
}
#navBar li{
	padding:10px;
	padding-top:20px;
	padding-bottom:20px;
	width:25%;
	transition:all 0.3s;
}
#navBar li:hover{
	background-color: #BE202E;
	color:white;
	cursor:pointer;
}
figure{
	margin:0px;
	padding:0px;
	text-align:center;
}
figcaption{
	
	font-size:1.2rem;
	font-style:italic;
}
figure p{
	margin:0px;
	padding-bottom:10px;
	color:#999;
	font-size:.8rem;
	border-bottom:2px solid black;

}
.active{
	background-color:#BE202E;
	color:white;
}

.fillButton{
	width:34%;
	font-size:4rem;
	background-color:#555;

}
/*Flex Stuff*/
.row{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	margin:auto;
}
.col{
	display:flex;
	flex-direction:column;
	align-items:center;
}


/*Buttons that navigate you.  simple border*/
.about{
	width:250px;
	padding:15px;
	background-color:transparent;
	border:2px solid #BE202E;
	border-radius:40px;
	color:#BE202E;
	font-size:1rem;
	transition:all 0.3s;
}
.about:hover{
	background-color:#BE202E;
	color:white;
	cursor:pointer;
}
.contact{
	width:250px;
	padding:15px;
	background-color:transparent;
	border:2px solid white;
	border-radius:40px;
	color:white;
	font-size:1rem;
	transition:all 0.3s;
}
.contact:hover{
	background-color: #BE202E;
	outline:none;
	cursor:pointer;
}
#nav{
	z-index:99;
	background-color:rgba(0,0,0,1);
	position:fixed;
	width:100%;
}
.red{
	background-color:#BE202E;
	height:0.75vh;
}


/*First Container div that holds the logo and some content and a button*/
#homeLogo{
	margin:auto;
	min-height:100vh;
	background-image:url(dog.jpg);
	
	background-repeat:no-repeat;
	background-size: cover;

}
/*centers the logo and such in that homeLogo Div*/
#logo{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-180px;
	margin-left:-165px;
	text-align:center;
	color:white;
}

/*We LOVE animals stuff*/
#second{
	background-color: rgba(255,255,255,0.8);
	min-height:75vh;
	margin:0px;

}
#secondContent{
	width:50%;
	padding:40px;
}

#blah{
	color:#777;
	font-size:1.2rem;
	margin-bottom:50px;
}
#know{
	font-size:6rem;
	margin:50px 0px 50px 0px;
	color:black;
}
/*Div that holds giant buttons*/
#third{
	min-height:75vh;
	margin:0px;
	background-color:black;
}


/*Giant Photo Buttons*/
#pets{
	background-image: url(lab.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color:white;
	transition:all 0.5s ease-in-out 0.1s;

}
#pets:hover{
	cursor:pointer;
	background-image: url(darklab.png);
}
#horses{
	background-image:url(horse.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color:white;
	background-position:center;
	transition:all 0.5s ease-in-out 0.1s;
	
}
#horses:hover{
	cursor:pointer;
	background-image: url(darkhorse.png);
}

#cattle{
	background-image: url(cow.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color:white;
	transition:all 0.5s ease-in-out 0.1s;
}
#cattle:hover{
	cursor:pointer;
	background-image:url(darkcow.png);
}

#comments{
	background-color:black;
	min-height:10vh;
}

/*team div stuff*/
#team{
	background-color:white;
	min-height:105vh;
	/*padding:40px 150px;*/

}
#teamContent{
	width:1050px;
	text-align:left;
	margin:auto;
}
#craigs{
	width:1050px;
	justify-content:space-between;
}
#team img{
	height:300px;
}
#team h1{
	padding:100px 0px 50px 0px;
	font-size:6rem;
}
#moreButtons{
	max-width:600px;
	margin-top:50px;
	padding-bottom:10px;

}

/*footer*/


#contactPage{
	padding-top: 62px;
	min-height:75vh;
	background-image: url(cowhoriz.jpg);
	background-attachment: fixed;
	background-position: center;
}
#contactPage h1{
	padding:30px;
	padding-top:70px;
	color:#ccc;
	font-size:3rem;
	text-align:center;
	
}
#contactLogo{
	margin-left:30px;
	margin-top:50px;
}
#content{
	width:50%;	
	color:white;
	
	font-size:1.4rem;
}
#content .row{
	justify-content: space-between;
	align-items:center;
	text-align:right;
	padding:10px;
}
.wrapper{
	width:70%;
	margin:auto;

}
#grey{
	background-color:rgba(50,50,50,0.9);
	min-height:75vh;
}

.left{
	float:left;
	overflow:wrap;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
#aboutPage{
	background-color:white;
	min-height:90vh;
	width:100%;
	text-align:right;
	color:#555;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:flex-end;
}
#aboutContent{
	width:30%;
	padding-bottom:200px;
	
}

#kitten{
	width:600px;
}


#servicesPage{
	min-height:90vh;
	background-color:white;
}
#servicesContent{
	max-width:960px;
	margin:auto;
	padding-top:80px;
	color:black;
}
#servicesContent h1{
	color:#555;
	padding:70px 0px 20px 0px;
}
#servicesContent img{
	width:60%;
	height:auto;
	margin-right:60px;
	display:inline;
}
h3{

	display:inline;
	font-size:1.9rem;
	color:#BE202E;
}
.section{
	padding-top:30px;
	width:30%;
	display:inline-block;
	max-width:400px;
}
.serviceList li{
	color: #555;
}


#footerLogo{
	display:block;
	height:150px;
	width:auto;
	margin:auto;
	padding:10px;
}


#toggle{
	width:50%;
	font-size:1.9rem;
	color:#555;
	padding:30px;
}
.activeSpan{
	color:#BE202E;
}
span{
	font-weight:bold;
	transition:all 0.3s;
	position:relative;
}
span:hover{
	cursor:pointer;
	color:#BE202E;

}
#famPetDiv{
	
	height:50vh;
}
#horseDiv{
	
	height:50vh;
}
#cattleDiv{
	
	height:50vh;
}
#homeFooter{
	z-index: 99;
}
footer{
	color:white;
	background-color:black;
	min-height:25vh;
}


footer p{
	margin:0px;
	color:#555;
}

#otherFooter .col{
	align-items:flex-start;
}
#otherFooter p{
	font-size:0.9rem;
	padding:5px;
}
#otherFooter .link:hover{
	color:#BE202E;
	cursor:pointer;
}
.activeFOOT{
	color:white;
}
